li {
    margin-right: 75px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.is-active {
   text-decoration:underline;
   color: yellow;
}

.social-media-icons-white a {
    color: white;
    font-size: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

.imageflex { 
    display: flex; 
}

.imageflexcontent { 
    margin-left: 15px;
    margin-top: 0px; 
}

.imageflex1 { 
    display: flex; 
}

.imageflexcontent1 { 
    margin-left: 15px;
    margin-top: 0px; 
}




.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 50px yellow;
}



th, td {
    border: 5px solid #2347bb;
    padding: 10px;
    text-align: center;
    color:black;
}

th {
    background-color: #2347bb;
    color: white;
}





